@media (max-width: 480px) {
  .SubBanner_Content {
    margin: 20px 1rem;
    padding: 20px 1rem;
    text-align: center;
  }

  .SubBanner_Content h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #ffffff;
  }

  .SubBanner_Content p {
    font-size: 18px;
    color: #000000d2;
    /* text-shadow: -0.5px -0.5px 0 #969696, 0.5px -0.5px 0 #969696,
        -0.5px 0.5px 0 #969696, 0.5px 0.5px 0 #969696; */
  }
}
