.SubBanner_Container {
  position: relative;
}

.SubBanner_Wrap {
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
}

.SubBanner_Content {
  position: relative;
  margin: 30px 10rem;
  padding: 30px 5rem;
}

.SubBanner_Content h2 {
  font-size: 36px;
  color: #fff;
  margin-bottom: 15px;
}

.SubBanner_Content p {
  font-size: 24px;
  color: #fff;
}

/* .SubBanner_Btn {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  background-color: #333;
  border-radius: 9999px;
  text-decoration: none;
} */

.SubBanner1_Section_bg {
  background-image: url('https://cdn.imweb.me/thumbnail/20250312/2dc9dfe2ebad5.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  inset: 0;
}

.SubBanner2_Section_bg {
  background-image: url('https://cdn.imweb.me/thumbnail/20250312/e157380b7059d.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  inset: 0;
}

.SubBanner_Section_bg_color {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  inset: 0;
}
