[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.100.0"
uvicorn = "==0.21.0"
pydantic = "==2.6.3"
openai = "==1.70.0"
psycopg2-binary = "*"
python-dotenv = "*"
langchain = "*"
langchain-community = "*"
langchain-openai = "*"

[dev-packages]

[requires]
python_version = "3.11"
